body,
html {
    height: 100%;
    margin: 0;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    padding-top: 5px;
    padding-right: 5px;
    height: 170px;
    background-color: #5B6875;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
}

#search-icon {
    place-self: center;
    justify-self: end;
    height: 36px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#search-bar {
    place-self: center;
    height: 36px;
    grid-row: 1 / 2;
    grid-column: 2 / 5;
}

#profile-pic {
    place-self: center;
    justify-self: end;
    height: 81px;
    grid-row: 1 / 2;
    grid-column: 5 / 7;
}

#time {
    place-self: center;
    height: 60px;
    grid-row: 1 / 2;
    grid-column: 7 / 8;
}

#new-mission {
    place-self: center;
    height: 50px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#call-back {
    place-self: center;
    height: 50px;
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}

#log-out {
    place-self: center;
    height: 50px;
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}

.header-buttons {
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    filter: drop-shadow();
}

.header-buttons:hover {
    filter: drop-shadow(10px 5px 5px skyblue);
    cursor: pointer;
}

.header-buttons:active {
    filter: drop-shadow(10px 5px 5px steelblue);
}

.sidebar {
    background-color: #202020;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 2fr repeat(8, 1fr) 2fr;
    align-items: end;
}

#logo {
    height: 175px;
    place-self: center;
}

p {
    margin: 0;
}

.sidebar-link {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.icon {
    height: 47px;
    width: 52px;
    margin-left: 1vw;
}

#active-missions-icon {
    color: skyblue;
}

a:link {
    color: #CB8B35;
    text-decoration: none;
}


a:visited {
    color: #CB8B35;
}

a:hover {
    color: skyblue;
}

a:active {
    color: skyblue;
}

.main {
    background-image: url(images/topographic.png);
    background-position: center;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    grid-template-columns: 4fr 1fr;
    padding: 15px;

}

#active-missions-title {
    height: 4vh;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: center;
    margin: 0;
}

#card-container {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    place-self: center;
    width: clamp(200px, 100%, 300px);
    height: clamp(250px, 45%, 400px);
}

#mission-container {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    gap: 15px;
}

.mission {
    width: clamp(300px, 90%, 450px);
    height: clamp(100px, 90%, 400px);
    transition-timing-function: ease-out;
    transition-duration: 300ms;
    filter: drop-shadow();
}


.mission:hover {
    filter: drop-shadow(10px 5px 5px skyblue);
}

/*
#mission-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#mission-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#mission-3 {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
}

#mission-4 {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

#mission-5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

#mission-6 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
*/